/* Custom styling */

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2) !important; /* Semi-transparent background */
    z-index: 1000; /* Make sure it's on top of other elements */
    font-family: "Lexend", sans-serif;
}

.navbar-brand {
    font-weight: 300;
}

.navbar-brand:hover {
    color: rgb(255, 170, 0) !important;
}

.nav-item {
    margin-left: 4em;
    font-weight: 300;
}

.navbar a {
    color: hsla(0, 0%, 100%, 0.84) !important;
}

.nav-item a:hover {
    color: rgb(255, 170, 0) !important;
}

/* --- */

/* Landing Page */

.hero {
    background-image: url(images/cyprus.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: #ffffff;
    
}

.title {
    font-family: "Playfair Display", sans-serif;
    margin-top: 30vh;
    font-size: 5rem;
    text-shadow: 2px 2px 2px rgb(36, 36, 36)
}

body {
    /*background-color: #41747f;*/
    /*background-color: rgb(36, 36, 36);*/
    background-color: rgb(29, 48, 59);
    color: #f1f1f1;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.fancy {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 10%;
}

ul {
    list-style-type: none;
}

/* --- */

/* Buttons */

.button-light {
    border: none;
    color: black;
    background-color: whitesmoke;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Lexend", sans-serif;
}

.button-light:hover {
    background-color: rgb(255, 170, 0);
}

.button-dark {
    border: none;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Lexend", sans-serif;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
}

.button-dark:hover {
    background-color: rgb(255, 170, 0);
    color: black;
}

.button-small {
    font-size: 15px;
}

/* --- */

.top-padding {
    padding-top: 5%;
}

.bottom-padding {
    padding-bottom: 2%;
}

.section {
    min-height: 100vh;
}

h2 {
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
}

.div1 {
    padding-top: 2%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align {
    text-align: left;
}

/* About */

.about-text {
    text-align: center;
}



/* --- */

/* Cards */

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: whitesmoke;
}

.card-title {
    font-weight: 300;
    font-size: 1.5rem;
}

.card-text {
    letter-spacing: 1px;
    font-size: 1rem;
}

.card-body a:hover {
    color: rgb(230, 157, 11) !important;
}

/* --- */

/* Contact Form */

.contact-form-container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.form-title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
    border: 2px solid #c9c9c9;
    border-radius: 4px;
    font-size: 16px;
}

/* --- */

/* Footer */

footer {
    background-color: rgb(29, 48, 59);
    font-size: 1.1em;
}

footer a {
    color: #f1f1f1 !important;
    padding: 5%;
}

footer a:hover {
    color: rgb(255, 170, 0) !important;
}

/* --- */

/* Media queries for different screen sizes */

@media (max-width: 1258px) {
    .title {
        font-size: 3rem;
    }
    .button {
        font-size: 14px;
        padding: 6px 18px;
    }
}

@media (max-width: 1024px) {
    .masthead {
        min-height: 33vh;
    }
    .title {
        font-size: 3rem;
    }
}