/* Style for the navbar */


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2) !important; /* Semi-transparent background */
    z-index: 1000; /* Make sure it's on top of other elements */
}

.navbar-brand {
    color: #ffffff;
    opacity: 80%;
}

.nav-item {
    margin-left: 3em;
}

/* Main image */
.hero {
    background-image: url(cyprus3.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: #ffffff;
    
}

.title {
    font-family: "Playfair Display", cursive;
    margin-top: 30vh;
    font-size: 5rem;
    text-shadow: 2px 2px 2px rgb(36, 36, 36)
}

.button {
    border: none;
    color: white;
    background-color: rgb(36, 36, 36);
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(255, 170, 0);
}

body {
    background-color: #41747f;
    color: #f1f1f1;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.fancy {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 10%;
}

ul {
    list-style-type: none;
}

.top-padding {
    padding-top: 5%;
}

.bottom-padding {
    padding-bottom: 2%;
}

.div1 {
    min-height: 44vh;
    padding-top: 2%;
    font-size: 1.2rem;
}


.align {
    text-align: left;
}

footer {
    background-color: #41747f;
    font-size: 1.1em;
}

footer a {
    color: #f1f1f1 !important;
    padding: 5%;
}

footer a:hover {
    color: #1324da !important;
}

@media (max-width: 1258px) {
    .title {
        font-size: 3rem;
    }
    .button {
        font-size: 14px;
        padding: 6px 18px;
    }
}

@media (max-width: 1024px) {
    .masthead {
        min-height: 33vh;
    }
    .title {
        font-size: 3rem;
    }
}